<%- include('../includes/head.ejs')  %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main style="text-align: center;">
        <h1>Sign In</h1>
        <form class="formdata" action="/login" method="POST">
            
            <input type="text" name="email"  placeholder="Email" required>
            <input type="password" name="password"  placeholder="Password" required>
            
            <button type="submit">Login</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>
