

<%- include('includes/head.ejs')  %>
    <link rel="stylesheet" href="/css/error.css">
    

</head>
<body>
    <%- include('includes/header.ejs') %>
    

    <div style="margin: 10px;">
        <h2>Occure Some Error </h2>
        <p>we fixing this Error , Sorry for this</p>
    </div>
    <%- include('includes/end.ejs') %>

