extends layouts/main-layout.pug

block styles
      link(rel="stylesheet" href="/css/shop.css")

block contents
      main
            if prod.length > 0
                .product-container
                    each product in prod
                        .product-card
                            img(src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg" alt="Product Image" class="product-image")
                            h2 #{product.title}
                            p Description of the product goes here.
                            p.product-price $19.99
                            button.add-to-cart-btn Add to Cart
            else 
                h1 Data Not Found


