


.content {
    max-width: 600px;
    margin: 50px auto;
   
}

img{
    height: 100%;
    width: 500px;
}

h1 {
    color: #e74c3c;
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    color: #333;
}